.pln { color: black }
@media screen { 
    .str { color: #008800 }
    .kwd { color: #000088 }
    .com { color: #880000 }
    .typ { color: #660066 }
    .lit { color: #006666 }
    .pun,
    .opn,
    .clo { color: #666600 }
    .tag { color: #000088 }
    .atn { color: #660066 }
    .atv { color: #008800 }
    .dec,
    .var { color: #660066 }
    .fun { color: red }
}
@media print,projection { 
    .str { color: #006600 }
    .kwd {
        color: #006;
        font-weight: 700;
    }
    .com {
        color: #600;
        font-style: italic;
    }
    .typ {
        color: #404;
        font-weight: 700;
    }
    .lit { color: #004444 }
    .pun,
    .opn,
    .clo { color: #444400 }
    .tag {
        color: #006;
        font-weight: 700;
    }
    .atn { color: #440044 }
    .atv { color: #006600 }
}
pre.prettyprint {
    padding: 2px;
    border: 1px solid #888888;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eeeeee }
pre.prettyprint {
    display: block;
    background-color: #333333;
}
pre .nocode {
    background-color: none;
    color: black;
}
pre .str { color: #ffa0a0 }
pre .kwd {
    color: #f0e68c;
    font-weight: 700;
}
pre .com { color: skyblue }
pre .typ { color: palegreen }
pre .lit { color: indianred }
pre .pun { color: white }
pre .pln { color: white }
pre .tag {
    color: #f0e68c;
    font-weight: 700;
}
pre .atn {
    color: #bdb76b;
    font-weight: 700;
}
pre .atv { color: #ffa0a0 }
pre .dec { color: palegreen }
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #aeaeae;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
@media print { 
    pre.prettyprint { background-color: none }
    pre .str,
    code .str { color: #006600 }
    pre .kwd,
    code .kwd {
        color: #006;
        font-weight: 700;
    }
    pre .com,
    code .com {
        color: #600;
        font-style: italic;
    }
    pre .typ,
    code .typ {
        color: #404;
        font-weight: 700;
    }
    pre .lit,
    code .lit { color: #004444 }
    pre .pun,
    code .pun { color: #444400 }
    pre .pln,
    code .pln { color: black }
    pre .tag,
    code .tag {
        color: #006;
        font-weight: 700;
    }
    pre .atn,
    code .atn { color: #440044 }
    pre .atv,
    code .atv { color: #006600 }
}
pre.prettyprint {
    border: 0;
    background: none;
    padding: 0 30px;
}
code {
    padding: 0;
    font-family: Monaco,Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    color: #69aff8;
}
pre .kwd { color: #ff6e72 }
pre .typ { color: #1abc9c }
pre .pun,
pre .pln { color: #69aff8 }
pre {
  padding: 10px;
  display: block;
  background-color: #273647;
  overflow-x: auto;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
}
