@charset "UTF-8";
/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 105, ../../../../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 9, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 14, ../sass/_base.scss */
h1, h2, h3, h4, p, li {
  font-family: 'MetaSerifOT-Book';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 20, ../sass/_base.scss */
h1 {
  font-size: 1.8em;
  line-height: 1.41667em;
  color: #001b36;
  margin-bottom: 20px;
}
/* line 24, ../sass/_base.scss */
h1 a {
  color: #001b36;
  text-decoration: none;
}

/* line 30, ../sass/_base.scss */
h2 {
  font-size: 1.1em;
  line-height: 1.54545em;
}

/* line 34, ../sass/_base.scss */
h4 {
  font-size: 0.8em;
  line-height: 2.125em;
  color: #9fb5cc;
  font-family: 'altisbold';
}

/* line 40, ../sass/_base.scss */
p, li {
  font-size: 1em;
  line-height: 1.7em;
  color: #435c73;
  margin-bottom: 15px;
}

/* line 46, ../sass/_base.scss */
ul, ol {
  margin-left: 40px;
  list-style-type: circle;
}
/* line 49, ../sass/_base.scss */
ul li, ol li {
  margin-bottom: 5px;
}

/* line 55, ../sass/_base.scss */
.btn {
  padding: 10px;
}

/* line 59, ../sass/_base.scss */
.wire {
  border: 1px solid;
}

/* line 63, ../sass/_base.scss */
.read-more {
  float: right;
  color: #28ba00;
  border-color: #28ba00;
}

@font-face {
  font-family: 'MetaSerifOT-Book';
  src: url("../fonts/meta_serif/metaserifot-book.eot");
  src: local("☺"), url("../fonts/meta_serif/metaserifot-book.woff") format("woff"), url("../fonts/meta_serif/metaserifot-book.ttf") format("truetype"), url("../fonts/meta_serif/metaserifot-book.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'altisbold';
  src: url("../fonts/altis_bold/altis-bold-webfont.eot");
  src: url("../fonts/altis_bold/altis-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/altis_bold/altis-bold-webfont.woff") format("woff"), url("../fonts/altis_bold/altis-bold-webfont.ttf") format("truetype"), url("../fonts/altis_bold/altis-bold-webfont.svg#altisbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../sass/_type.scss */
.meta_serif {
  font-family: 'MetaSerifOT-Book';
  -webkit-font-smoothing: antialiased;
}

/* line 25, ../sass/_type.scss */
.altis_extrabold {
  font-family: 'altisextra_bold';
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/_menu.scss */
#draw-menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 10;
  background-color: #28ba00;
  -webkit-transition: width 310ms;
  -moz-transition: width 310ms;
  -o-transition: width 310ms;
  transition: width 310ms;
}
/* line 11, ../sass/_menu.scss */
#draw-menu.opened-menu {
  width: 320px;
}

/* line 16, ../sass/_menu.scss */
.menu {
  margin-top: 110px;
  list-style-type: none;
  margin-left: 30px;
}
/* line 20, ../sass/_menu.scss */
.menu li {
  line-height: 42px;
}

/* line 26, ../sass/_menu.scss */
.large-menu-item:hover, .dimmed-link:hover {
  text-decoration: none;
}

/* line 31, ../sass/_menu.scss */
.large-menu-item {
  text-decoration: none;
  font-size: 24px;
  color: #9fb5cc;
}
/* line 35, ../sass/_menu.scss */
.large-menu-item:hover {
  color: #d1dce7;
}

/* line 40, ../sass/_menu.scss */
.dimmed-link {
  color: #435c73;
}
/* line 42, ../sass/_menu.scss */
.dimmed-link:hover {
  color: #6083a2;
}

/* line 47, ../sass/_menu.scss */
.snap-drawer {
  background-color: #101e2c;
}

/* line 1, ../sass/_post.scss */
article {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 3px solid #f2f5f8;
}

/* line 11, ../sass/main.scss */
body {
  background-color: #FFFFFF;
}

/* line 15, ../sass/main.scss */
#content {
  background-color: #FFFFFF;
}

/* line 19, ../sass/main.scss */
.wrapper {
  width: 60%;
  margin: 80px auto 0 auto;
}

/* line 24, ../sass/main.scss */
.logo {
  display: inline-block;
  background-size: 100%;
  margin-bottom: 100px;
  width: 141px;
  height: 41px;
  background-image: url("../images/mojotech-full-logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 24, ../sass/main.scss */
  .logo {
    background-image: url("../images/mojotech-full-logo@2x.png");
    background-size: cover;
  }
}
