@import "compass/typography/vertical_rhythm";
@include establish-baseline($base-font-size);

$round-to-nearest-half-line: true;
$base-font-size: 16px;
$base-line-height: 30px;

a {
  color: $green;
  &:hover {
    text-decoration: underline;
  }
}

body, input, textarea, p, h3 {
  font-family: 'MetaSerifOT-Book';
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h2, h4, h5 {
  font-family: 'altisbold';
  -webkit-font-smoothing: antialiased;
}

p, li, h3 {
  color: $navy-mid;
  margin-bottom: 20px;
  @include adjust-font-size-to(18px);
}

em, i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

blockquote {
  border-left: 3px solid $green;
  padding-left: 20px;
  margin: $spacing-block 0 $spacing-block -23px;
  @include below($small-snap) {
    margin-left: 0;
  }
  p {
    color: $navy-light;
    font-style: italic;
    @include adjust-font-size-to(24px);
  }
}

h1 {
  @include adjust-font-size-to(32px);
  color: $navy;
  margin-bottom: 20px;
  a {
    color: $navy;
    text-decoration: none;
  }
}

h2 {
  margin: 46px 0 20px 0;
  color: $navy-mid;
  @include adjust-font-size-to(24px);
}

h3 {
  color: adjust-lightness($navy-mid, 15%);
  @include adjust-font-size-to(22px);
}

h4 {
  text-transform: uppercase;
  margin: 30px 0 10px 0;
  color: $navy-mid;
  @include adjust-font-size-to(18px);
}

ul, ol {
  margin-left: 40px;
  list-style-type: circle;
  li {
    margin-bottom: 5px;
  }
}

label {
  color: $navy-light;
  font-size: 18px;
  margin-bottom: 5px;
}

input {
  font-size: 16px;
  background-color: #FFF;
  width: 100%;
  border: none;
  padding: 6px 7px;
  margin-bottom: 14px;
  @include box-sizing(border-box);
}


.btn {
  font-family: 'altisbold';
  padding: 6px 10px;
  font-size: 14px;
  text-decoration: none;
}

.btn-lg {
  font-size: 18px;
  padding: 12px;
}

.btn-blue {
  color: #FFFFFF;
  background-color: $teal;
  &:hover {
    cursor: hover;
    background-color: adjust-lightness($teal, 5%);
  }
}

.wire {
  border: 1px solid;
  &.btn-default {
    color: $navy-light;
    border: 1px solid $navy-light;
    &:hover {
      cursor: hover;
      border-color: adjust-lightness($navy-light, 5%);
    }
  }
}

.btn-primary {
  color: $green;
  border-color: $green;
  &:hover {
    border-color: adjust-lightness($green, -6%);
  }
}
.read-more {
  float: right;
}

.twitter {
  background-color: $twitter;
  &:hover {
    background-color: adjust-lightness($twitter, 5%);
  }
  &:active {
    background-color: adjust-saturation($twitter, 2%);
  }
}

.facebook {
  background-color: $facebook;
  &:hover {
    background-color: adjust-lightness($facebook, 5%);
  }
  &:active {
    background-color: adjust-saturation($facebook, 2%);
  }
}

.googleplus {
  background-color: $googleplus;
  &:hover {
    background-color: adjust-lightness($googleplus, 5%);
  }
  &:active {
    background-color: adjust-saturation($googleplus, 2%);
  }
}

.cl {
  clear: both;
}

.bottom-light-bor {
  border-bottom: 3px solid adjust-lightness($navy-light, 25%);
}

.small {
  @include adjust-font-size-to(16px);
}

.left {
  float: left;
}

.right {
  float: right;
}

.absolute {
  position: absolute !important;
}
