$small-snap: 480px;
$large-snap: 1100px;

$header-height: 70px;
$width: 68%;
$spacing-block-lg: 70px;
$spacing-block: 35px;

$red: #bb0d00;
$purple: #6500b3;
$yellow: #eda500;
$green: #28ba00;
$navy: #001b36;
$teal: #0896aa;
$navy-mid: #435c73;
$navy-light: #9fb5cc;

$facebook: #3b5998;
$twitter: #00acee;
$googleplus: #dd4b39;
