@import 'compass/reset';
@import 'compass/css3';
@import 'vendor/_mo';
@import '_variables';
@import '_base';
@import '_type';
@import '_header';
@import '_menu';
@import '_post';
@import '_footer';

body {
  background-color: #FFFFFF;
}

#content {
  background-color: #FFFFFF;
}

.wrapper {
  width: $width;
  margin: $spacing-block auto 0 auto;
  @include below($small-snap) {
    width: 90%;
  }
  @include above($large-snap) {
    width: 55%;
    max-width: 860px;
  }
}

.logo {
  margin-top: $spacing-block-lg;
  margin-bottom: 30px;
  @include below($small-snap) {
    margin-top: 0;
  }
}

.pagination {
  position: relative;
  padding-bottom: $spacing-block;
  text-align: center;
}

.btn-page {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.page-number {
  top: 0;
  left: 0px;
  position: absolute;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin-top: 6px;
  color: $navy-light;
  z-index: -1;
}
